@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .font-playfair {
    font-family: var(--font-playfair);
  }

  h1 {
    @apply font-light scroll-m-20 text-4xl tracking-tight lg:text-5xl
  }

  h2 {
    @apply font-light scroll-m-20 text-3xl tracking-tight
  }

  h3 {
    @apply font-light scroll-m-20 text-2xl tracking-tight
  }

  h4 {
    @apply font-light scroll-m-20 text-xl tracking-tight
  }

  p {
    @apply leading-7
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic
  }

  cite {
    @apply text-xl text-gray-500
  }

  small {
    @apply text-sm font-medium leading-none
  }

  .button {
    @apply uppercase text-center p-4 bg-white border-yellow-400 border font-playfair text-lg hover:bg-yellow-400 hover:text-white transition-colors disabled:hover:bg-white disabled:hover:text-inherit disabled:opacity-30
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White background */
    --foreground: 20 20% 20%; /* Dark beige for foreground text */

    --muted: 30 30% 96%; /* Very light beige for muted elements */
    --muted-foreground: 20 20% 20%; /* Dark beige for muted text */

    --popover: 0 0% 100%; /* White for popovers */
    --popover-foreground: 20 20% 20%; /* Dark beige for popover text */

    --border: 30 30% 90%; /* Light beige for borders */
    --input: 30 30% 90%; /* Light beige for inputs */

    --card: 0 0% 100%; /* White for cards */
    --card-foreground: 20 20% 20%; /* Dark beige for card text */

    --primary: 0 100% 80%; /* Pastel red for primary color */
    --primary-foreground: 0 100% 20%; /* Dark red for primary text */

    --secondary: 30 30% 96%; /* Very light beige for secondary elements */
    --secondary-foreground: 20 20% 20%; /* Dark beige for secondary text */

    --accent: 30 30% 96%; /* Very light beige for accents */
    --accent-foreground: 20 20% 20%; /* Dark beige for accent text */

    --destructive: 0 100% 80%; /* Pastel red for destructive elements */
    --destructive-foreground: 0 100% 20%; /* Dark red for destructive text */

    --ring: 0 100% 80%; /* Pastel red for rings */

    --radius: 0.5rem; /* Keeping the border radius the same */
  }

  html {
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-montserrat);
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }

  .bg-glass {
    @apply backdrop-blur-xl;
    background: linear-gradient(
      to bottom,
      rgba(221, 231, 235, 0.3) 0%,
      rgba(221, 231, 235, 0.25) 10%,
      rgba(221, 231, 235, 0.1) 80%,
      rgba(221, 231, 235, 0.0) 90%
    );
  }
}

